body {
    background: gray;
    padding-bottom: 50px;
    padding-top:50px;
    font-family:'Montserrat';
}

#first {
    margin-bottom: 20px;
    text-align: center;
    width:100%;
}

#first > img {
    position: relative;
}

#first > a {
    position: absolute;
    top: 85%;
}

#row2 {
    margin-bottom: 20px;
}

.navbar {
    border-radius: 0;
    opacity: 0.5;
}

.navbar-brand{
    font-weight: bold;
}

li{
    font-family: 'Montserrat';
}

.thumbnail {
    background: none;
    border: 0px;
}

.col-md-4 > div {
    margin: auto;
}

.col-xs-12 > div {
    font-family: 'Montserrat';
    margin: auto;
    width: 80%;
}

.btn-primary {
    background: none;
    border: 2px solid black;
    border-radius: 0;
    color: black;
    font-family:'Montserrat';
}

.btn-primary:hover {
    background: none;
    border: 2px solid black;
    border-radius: 0;
    color: black;
    font-family:'Montserrat';
    opacity: 0.7;
}

.footer {
    bottom:0;
    background: lightgray;
    font-family:'Montserrat';
    opacity: 0.5;
    position: fixed;
    text-align: center;
    width: 100%;
}

.glyphicon-menu-down {
    font-size: 2em;
}

#contacts {
    background: white;
    font-family:'Montserrat';
    padding-top: 20px;
    text-align: center;
}

i {
    padding: 10px;
}
