<body>
    <div class="container">
        <div ui-view></div>
        <div class="text-center"><a ui-sref="bio.italian">ITALIANO</a> - <a ui-sref="bio.english">ENGLISH</a></div>
        <div class="row">
            <a href="#"><span ui-sref="projects" class="col-xs-6 col-sm-6 col-md-6 text-left"><i class="fa fa-chevron-left"></i>PROJECTS</span></a>
            <a href="#"><span ui-sref="studies" class="col-xs-6 col-sm-6 col-md-6 text-right">STUDIES<i class="fa fa-chevron-right"></i></span></a>
        </div>
    </div>
</body>
