    <div id="first">
        <img class="img-responsive" src="https://placehold.it/1600x800">
        <a class="btnhome hidden-xs hidden-sm hidden-md" href="#"><i class="fa fa-3x fa-chevron-circle-down"></i></a>
    </div>
    
    <!-- end of header -->
            
    <div id="row2" class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <a href="#" class="thumbnail">
            <img class="img-circle" src="https://placehold.it/171x180" alt="...">
            </a>
                <div class="caption">
                    <h3>BIO</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. 
                    </p>
                    <p><a ui-sref="bio.italian" class="btn btn-primary" role="button">SEE MORE</a></p>
                </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <a href="#" class="thumbnail">
            <img class="img-circle" src="https://placehold.it/171x180" alt="...">
            </a>
                <div class="caption">
                    <h3>STUDIES</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. 
                    </p>
                    <p><a ui-sref="studies" class="btn btn-primary" role="button">SEE MORE</a> </p>
                </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <a href="#" class="thumbnail">
            <img class="img-circle" src="https://placehold.it/171x180" alt="...">
            </a>
                <div class="caption">
                    <h3>PROJECTS</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat.
                    </p>
                    <p><a ui-sref="projects" class="btn btn-primary" role="button">MORE...</a> </p>
                </div>
        </div>
        
    </div> 
    
    <!-- end of row2 -->
    
    <!-- row 3 contacts -->
            
    <div class="row" id="contacts">
        <p>I MIEI CONTATTI</p>
        <p>
            <a href=""><i class="fa fa-4x fa-facebook-official"></i></a>
            <a href=""><i class="fa fa-4x fa-linkedin-square"></i></a>
        </p>
    </div>